body {
    background-image: url("../imgs/bg2.gif");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    font-size: 15pt;
    background-color: rgb(62, 49, 126);
    margin: auto;
    padding: 20px;
}

p, .row {
    font-size: 15pt;
    background-color: rgb(219, 219, 219);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    background-color: rgb(62, 49, 126);
    color: rgb(219, 219, 219);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60pt;
    text-align: center;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

#inputBlock {
    margin: auto;
    align-content: center;
}

#map {
    height: 500px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .markers {
      background-color: white;
  }